flask/setting.py
flask/static/assets/images/blog
flask/static/assets/courses
flask/static/assets/musics
flask/static/assets/tools
flask/static/sitemap
db/mongo
flask/views/__pycache__
flask/__pycache__
flask/views/admin/__pycache__
flask/static/assets/images/ck_cache
flask/log
flask/.env
.env
