
<link href="/static//app.css" rel="stylesheet" /> 
<script type="text/javascript" charset="UTF-8" src="/static//app.js"></script>

    <div class="container-fluid relative animatedParent animateOnce no-p" style="user-select: auto;">
        <div class="animated fadeInUpShort go" style="user-select: auto;">
            <!--Banner Slider-->
            <section class="hero has-overlay" data-bg-possition="center" style="background: url(&quot;https://xvelopers.com/demos/html/record/assets/img/demo/bg7.jpg&quot;); user-select: auto;">
                <div class="table has-bottom-gradient" style="user-select: auto;">
                    <div class="header-text" style="user-select: auto;">
                        <div class="container" style="user-select: auto;">
                            <div class="row m-t-150" style="user-select: auto;">
                                <div class="col-md-12" style="user-select: auto;">
                                    <div class="responsive" style="user-select: auto;">
                                        <div class="text-white text-center" style="user-select: auto;">
                                            <h1 class="s-64 font-weight-bolder l-s-3" style="user-select: auto;">JAZZY RAPPER</h1>
                                            <p class="s-24" style="user-select: auto;">Sed eget orci eleifend enim mattis
                                                suscipit. <br style="user-select: auto;">Suspendisse
                                                potenti non ipsum.</p>
                                            <div class="pt-3" style="user-select: auto;">
                                                <a href="#" class="btn btn-primary btn-xl" style="user-select: auto;">Buy Now At iTunes</a>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            <div class="p-5" style="user-select: auto;">
                                <div class="lSSlideOuter " style="user-select: auto;"><div class="lSSlideWrapper usingCss" style="user-select: auto; transition-duration: 400ms; transition-timing-function: ease;"><div class="lightSlider has-items-overlay playlist showSlider lSSlide lsGrab" data-item="6" data-item-lg="3" data-item-md="3" data-item-sm="3" data-auto="false" data-pager="false" data-controls="true" data-loop="false" style="width: 1247.17px; height: 176.156px; padding-bottom: 0%; transform: translate3d(-178.167px, 0px, 0px); user-select: auto;">
                                    <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                                        <figure class="mb-2" style="user-select: auto;">
                                            <div class="img-wrapper r-10" style="user-select: auto;">
                                                <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a7.jpg" alt="/" style="user-select: auto;">
                                                <div class="img-overlay text-white p-5" style="user-select: auto;">
                                                    <div class="center-center" style="user-select: auto;">
                                                        <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                                            <i class="icon-play s-48" style="user-select: auto;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="lslide active" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                                        <figure class="mb-2" style="user-select: auto;">
                                            <div class="img-wrapper r-10" style="user-select: auto;">
                                                <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a6.jpg" alt="/" style="user-select: auto;">
                                                <div class="img-overlay text-white p-5" style="user-select: auto;">
                                                    <div class="center-center" style="user-select: auto;">
                                                        <a class="no-ajaxy media-url active" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                                            <i class="s-48 icon-play" style="user-select: auto;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                                        <figure class="mb-2" style="user-select: auto;">
                                            <div class="img-wrapper r-10" style="user-select: auto;">
                                                <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a5.jpg" alt="/" style="user-select: auto;">
                                                <div class="img-overlay text-white p-5" style="user-select: auto;">
                                                    <div class="center-center" style="user-select: auto;">
                                                        <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                                            <i class="icon-play s-48" style="user-select: auto;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                                        <figure class="mb-2" style="user-select: auto;">
                                            <div class="img-wrapper r-10" style="user-select: auto;">
                                                <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a4.jpg" alt="/" style="user-select: auto;">
                                                <div class="img-overlay text-white p-5" style="user-select: auto;">
                                                    <div class="center-center" style="user-select: auto;">
                                                        <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                                            <i class="icon-play s-48" style="user-select: auto;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                                        <figure class="mb-2" style="user-select: auto;">
                                            <div class="img-wrapper r-10" style="user-select: auto;">
                                                <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a7.jpg" alt="/" style="user-select: auto;">
                                                <div class="img-overlay text-white p-5" style="user-select: auto;">
                                                    <div class="center-center" style="user-select: auto;">
                                                        <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                                            <i class="icon-play s-48" style="user-select: auto;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                                        <figure class="mb-2" style="user-select: auto;">
                                            <div class="img-wrapper r-10" style="user-select: auto;">
                                                <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a8.jpg" alt="/" style="user-select: auto;">
                                                <div class="img-overlay text-white p-5" style="user-select: auto;">
                                                    <div class="center-center" style="user-select: auto;">
                                                        <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                                            <i class="icon-play s-48" style="user-select: auto;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                                        <figure class="mb-2" style="user-select: auto;">
                                            <div class="img-wrapper r-10" style="user-select: auto;">
                                                <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a1.jpg" alt="/" style="user-select: auto;">
                                                <div class="img-overlay text-white p-5" style="user-select: auto;">
                                                    <div class="center-center" style="user-select: auto;">
                                                        <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                                            <i class="icon-play s-48" style="user-select: auto;"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div><div class="lSAction" style="user-select: auto;"><a class="lSPrev" style="user-select: auto;"><span class="icon icon-angle-left" style="user-select: auto;"></span></a><a class="lSNext" style="user-select: auto;"><span class="icon icon-angle-right" style="user-select: auto;"></span></a></div></div></div>
    
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="bottom-gradient" style="user-select: auto;"></div>
                <div class="overlay" data-start="#03A9F4" data-end="#A345C1" data-orientation="toleft" data-opacity=".6" style="background: linear-gradient(to left, rgb(3, 169, 244) 0%, rgb(163, 69, 193) 100%); opacity: 0.6; user-select: auto;"></div>
            </section>
        </div>
    </div>

    <div class="p-5" style="user-select: auto;">
        <div class="lSSlideOuter " style="user-select: auto;"><div class="lSSlideWrapper usingCss" style="user-select: auto; transition-duration: 400ms; transition-timing-function: ease;"><div class="lSSlideOuter "><div class="lSSlideWrapper usingCss" style="transition-duration: 0ms;"><div class="lSSlideOuter "><div class="lSSlideWrapper usingCss" style="transition-duration: 0ms;"><div class="lightSlider has-items-overlay playlist showSlider lsGrabbing lSSlide" data-item="6" data-item-lg="3" data-item-md="3" data-item-sm="3" data-auto="false" data-pager="false" data-controls="true" data-loop="false" style="width: 1247.17px; height: 176.156px; padding-bottom: 0%; transform: translate3d(0px, 0px, 0px); user-select: auto;">
            <div class="lslide active" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                <figure class="mb-2" style="user-select: auto;">
                    <div class="img-wrapper r-10" style="user-select: auto;">
                        <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a7.jpg" alt="/" style="user-select: auto;">
                        <div class="img-overlay text-white p-5" style="user-select: auto;">
                            <div class="center-center" style="user-select: auto;">
                                <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                    <i class="icon-play s-48" style="user-select: auto;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                <figure class="mb-2" style="user-select: auto;">
                    <div class="img-wrapper r-10" style="user-select: auto;">
                        <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a6.jpg" alt="/" style="user-select: auto;">
                        <div class="img-overlay text-white p-5" style="user-select: auto;">
                            <div class="center-center" style="user-select: auto;">
                                <a class="no-ajaxy media-url active" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                    <i class="s-48 icon-play icon-pause" style="user-select: auto;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                <figure class="mb-2" style="user-select: auto;">
                    <div class="img-wrapper r-10" style="user-select: auto;">
                        <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a5.jpg" alt="/" style="user-select: auto;">
                        <div class="img-overlay text-white p-5" style="user-select: auto;">
                            <div class="center-center" style="user-select: auto;">
                                <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                    <i class="icon-play s-48" style="user-select: auto;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                <figure class="mb-2" style="user-select: auto;">
                    <div class="img-wrapper r-10" style="user-select: auto;">
                        <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a4.jpg" alt="/" style="user-select: auto;">
                        <div class="img-overlay text-white p-5" style="user-select: auto;">
                            <div class="center-center" style="user-select: auto;">
                                <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                    <i class="icon-play s-48" style="user-select: auto;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                <figure class="mb-2" style="user-select: auto;">
                    <div class="img-wrapper r-10" style="user-select: auto;">
                        <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a7.jpg" alt="/" style="user-select: auto;">
                        <div class="img-overlay text-white p-5" style="user-select: auto;">
                            <div class="center-center" style="user-select: auto;">
                                <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                    <i class="icon-play s-48" style="user-select: auto;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                <figure class="mb-2" style="user-select: auto;">
                    <div class="img-wrapper r-10" style="user-select: auto;">
                        <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a8.jpg" alt="/" style="user-select: auto;">
                        <div class="img-overlay text-white p-5" style="user-select: auto;">
                            <div class="center-center" style="user-select: auto;">
                                <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                    <i class="icon-play s-48" style="user-select: auto;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="lslide" style="width: 168.167px; margin-right: 10px; user-select: auto;">
                <figure class="mb-2" style="user-select: auto;">
                    <div class="img-wrapper r-10" style="user-select: auto;">
                        <img class=" r-10" src="https://xvelopers.com/demos/html/record/assets/img/demo/a1.jpg" alt="/" style="user-select: auto;">
                        <div class="img-overlay text-white p-5" style="user-select: auto;">
                            <div class="center-center" style="user-select: auto;">
                                <a class="no-ajaxy media-url" href="https://xvelopers.com/demos/html/record/assets/media/track2.mp3" data-wave="https://xvelopers.com/demos/html/record/assets/media/track2.json" style="user-select: auto;">
                                    <i class="icon-play s-48" style="user-select: auto;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        </div><div class="lSAction"><a class="lSPrev"><span class="icon icon-angle-left"></span></a><a class="lSNext"><span class="icon icon-angle-right"></span></a></div></div></div><div class="lSAction"><a class="lSPrev"><span class="icon icon-angle-left"></span></a><a class="lSNext"><span class="icon icon-angle-right"></span></a></div></div></div><div class="lSAction" style="user-select: auto;"><a class="lSPrev" style="user-select: auto;"><span class="icon icon-angle-left" style="user-select: auto;"></span></a><a class="lSNext" style="user-select: auto;"><span class="icon icon-angle-right" style="user-select: auto;"></span></a></div></div></div>

    </div>
    <div class="wrapper">
        <div class="row has-items-overlay">
            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <figure>
                    <div class="img-wrapper">
                        <img src="https://xvelopers.com/demos/html/record/assets/img/demo/a1.jpg" alt="/">
                        <div class="img-overlay text-white text-center">
                            <a href="album-single.html">
                                <div class="figcaption mt-3">
                                    <i class="icon-link s-48"></i>
                                    <h5 class="mt-5">To Phir Ao</h5>
                                    <span>Atif Aslam</span>
                                </div>
                            </a>
                        </div>
                        <div class="figure-title text-center p-2">
                            <h5>To Phir Ao</h5>
                            <span>Atif Aslam</span>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <figure>
                    <div class="img-wrapper">
                        <img src="https://xvelopers.com/demos/html/record/assets/img/demo/a2.jpg" alt="/">
                        <div class="img-overlay text-white text-center">
                            <a href="album-single.html">
                                <div class="figcaption mt-3">
                                    <i class="icon-link s-48"></i>
                                    <h5 class="mt-5">To Phir Ao</h5>
                                    <span>Atif Aslam</span>
                                </div>
                            </a>
                        </div>
                        <div class="figure-title text-center p-2">
                            <h5>To Phir Ao</h5>
                            <span>Atif Aslam</span>
                        </div>
                    </div>

                </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <figure>
                    <div class="img-wrapper">
                        <img src="https://xvelopers.com/demos/html/record/assets/img/demo/a3.jpg" alt="/">
                        <div class="img-overlay text-white text-center">
                            <a href="album-single.html">
                                <div class="figcaption mt-3">
                                    <i class="icon-link s-48"></i>
                                    <h5 class="mt-5">To Phir Ao</h5>
                                    <span>Atif Aslam</span>
                                </div>
                            </a>
                        </div>
                        <div class="figure-title text-center p-2">
                            <h5>To Phir Ao</h5>
                            <span>Atif Aslam</span>
                        </div>
                    </div>

                </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <figure>
                    <div class="img-wrapper">
                        <img src="https://xvelopers.com/demos/html/record/assets/img/demo/a4.jpg" alt="/">
                        <div class="img-overlay text-white text-center">
                            <a href="album-single.html">
                                <div class="figcaption mt-3">
                                    <i class="icon-link s-48"></i>
                                    <h5 class="mt-5">To Phir Ao</h5>
                                    <span>Atif Aslam</span>
                                </div>
                            </a>
                        </div>
                        <div class="figure-title text-center p-2">
                            <h5>To Phir Ao</h5>
                            <span>Atif Aslam</span>
                        </div>
                    </div>

                </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <figure>
                    <div class="img-wrapper">
                        <img src="https://xvelopers.com/demos/html/record/assets/img/demo/a5.jpg" alt="/">
                        <div class="img-overlay text-white text-center">
                            <a href="album-single.html">
                                <div class="figcaption mt-3">
                                    <i class="icon-link s-48"></i>
                                    <h5 class="mt-5">To Phir Ao</h5>
                                    <span>Atif Aslam</span>
                                </div>
                            </a>
                        </div>
                        <div class="figure-title text-center p-2">
                            <h5>To Phir Ao</h5>
                            <span>Atif Aslam</span>
                        </div>
                    </div>

                </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <figure>
                    <div class="img-wrapper">
                        <img src="https://xvelopers.com/demos/html/record/assets/img/demo/a6.jpg" alt="/">
                        <div class="img-overlay text-white text-center">
                            <a href="album-single.html">
                                <div class="figcaption mt-3">
                                    <i class="icon-link s-48"></i>
                                    <h5 class="mt-5">To Phir Ao</h5>
                                    <span>Atif Aslam</span>
                                </div>
                            </a>
                        </div>
                        <div class="figure-title text-center p-2">
                            <h5>To Phir Ao</h5>
                            <span>Atif Aslam</span>
                        </div>
                    </div>

                </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <figure>
                    <div class="img-wrapper">
                        <img src="https://xvelopers.com/demos/html/record/assets/img/demo/a7.jpg" alt="/">
                        <div class="img-overlay text-white text-center">
                            <a href="album-single.html">
                                <div class="figcaption mt-3">
                                    <i class="icon-link s-48"></i>
                                    <h5 class="mt-5">To Phir Ao</h5>
                                    <span>Atif Aslam</span>
                                </div>
                            </a>
                        </div>
                        <div class="figure-title text-center p-2">
                            <h5>To Phir Ao</h5>
                            <span>Atif Aslam</span>
                        </div>
                    </div>

                </figure>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <figure>
                    <div class="img-wrapper">
                        <img src="https://xvelopers.com/demos/html/record/assets/img/demo/a8.jpg" alt="/">
                        <div class="img-overlay text-white text-center">
                            <a href="album-single.html">
                                <div class="figcaption mt-3">
                                    <i class="icon-link s-48"></i>
                                    <h5 class="mt-5">To Phir Ao</h5>
                                    <span>Atif Aslam</span>
                                </div>
                            </a>
                        </div>
                        <div class="figure-title text-center p-2">
                            <h5>To Phir Ao</h5>
                            <span>Atif Aslam</span>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>

