{% extends "base.html" %} {% block title %} پنل شخصی موفقیت اِرج - موزیک ها {% endblock %} {% block breadcrumb %}

<li class="breadcrumb-item"><a href="/"> خانه </a></li>
<li class="breadcrumb-item active" aria-current="page"> موزیک ها </li>
{% endblock %} 
{% block no_header %}{% endblock %}
{% block no_music_header %} {% endblock %}
{% block main_css %}
<link href="/static//assets/css/style_course.css" rel="stylesheet" /> {% endblock %}
{% block instead_of_blog_header %}
<a class="upside-margin btn btn-primary" href="/" style="
margin-right: 5px;    height: 100%;
"><i class="fa fa-home" style="
    font-size: 14px;
"></i>   خانه       </a>
{% endblock %}
{% block image_in_metatag %}{{posts[0].Cover}}{% endblock %}
{% block description_in_metatag %}موزیک ها و اهنگ های انگیزشی, آرامش بخش و الهام بخش ارج{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
<style>
    .course_img {
        -webkit-transition: 1.2s ease-in-out;
        -moz-transition: 1.2s ease-in-out;
        -o-transition: 1.2s ease-in-out;
    }

    .course_img:hover {
        -webkit-transform: scale(1.05);
        -webkit-transition: 1.2s ease-in-out;
        -moz-transform: scale(1.05);
        -moz-transition: 1.2s ease-in-out;
        -o-transform: scale(1.05);
        -o-transition: 1.2s ease-in-out;
    }
    .aplayer-body{
        direction: ltr !important;
    }
    .external-music-layer{
        width: 100% !important;
        height: 100% !important;
    }
    .card-img-top{
        width: 97.5% !important;
        height: 220px !important;
    }
    .aplayer-body{
        width: 100% !important;
        height: 100% !important;
        
    }
    .aplayer-pic{
        width: 100% !important;
        height: 100% !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fff;
    }
    .aplayer-button{
        transform: scale(1.7);
    }
    .aplayer-pause{
        right: 20px !important;
        bottom: 20px !important;
    }

</style>

<!-- row -->


<div class="row row-cards">
    <div class="col-lg-12 col-xl-12">
        <div class="row">
            <style>
                .external-music-layer:hover {
                    background: rgba(255, 23, 69, 0.575) !important;
                    -webkit-transition: 0.5s ease-in-out;
                    -moz-transition: 0.5s ease-in-out;
                    -o-transition: 0.5s ease-in-out;
                }

                .external-music-layer {
                    background: rgba(255, 255, 255, 0);
                    -webkit-transition: 0.5s ease-in-out;
                    -moz-transition: 0.5s ease-in-out;
                    -o-transition: 0.5s ease-in-out;
                }

                .music-box:hover {
                    background-size: 110% !important;
                    -webkit-transition: 0.5s ease-in-out;
                    -moz-transition: 0.5s ease-in-out;
                    -o-transition: 0.5s ease-in-out;
                }

                .music-box {
                    background-size: 100% !important;
                    background-position: center;
                    -webkit-transition: 0.5s ease-in-out;
                    -moz-transition: 0.5s ease-in-out;
                    -o-transition: 0.5s ease-in-out;
                }
            </style>
            {% for post in posts %}
            <script> musics = [] </script>

            <div class="col-sm-4 col-xl-2">
                <div class="card">

                    <div class="music-box" style="background-size: cover;">
                        <!-- <i class="fa fa-play"> !-->
                            <div class="">
                            <a>
                                <div class="card-img-top" id="music_aplayer_{{loop.index}}"></div>

                                    <script>
                                        musics.push(new APlayer({
                                            container: document.getElementById("music_aplayer_{{loop.index}}"),
                                            mini: true,
                                            audio: [{
                                                name: '{{post.Music_Name}}',
                                                artist: '{{post.Creator}}',
                                                url: '{{post.Music.href}}',
                                                cover: '{{post.Cover.href}}',
                                            }]
                                        }))
                                    </script>
                                <div style="background-image: #000;"></div>
                            </a></div>
                        </i>
                    </div>
                    <div class="card-body d-flex flex-column" style="padding: 1.1rem 1rem;">
                        <div class="d-flex align-items-center pb-5 mt-auto" style="text-align: center;place-content: center;padding-bottom: 0.0rem !important;padding-top: 0.0rem !important;">    
                            <div>
                                <a href="" class="text-default font-weight-semibold" style="font-size: 15px;">{{post.Music_Name}}</a>
                                <a href="" class="text-default font-weight-semibold" style="display: block;">{{post.Creator}}</a>
                            </div>

                        </div>
                        <a href="{{post.Music.href}}" class="btn btn-primary" style="margin-top: 10px;" download=""> دانلود </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
    <div class="card-body">
        <ul class="pagination" style="place-content: center;">
            <li class="page-item page-prev {% if now_page == 1 %}disabled{% endif %}">
                <a class="page-link" href="?page={{now_page-1}}" tabindex="-1">قبلی</a>
            </li>
            {% for page in pagination %}
            <li class="page-item {% if page == now_page %}active{% endif %}"><a class="page-link"
                    href="?page={{page}}">{{page}}</a></li>
            {% endfor %}
            <li class="page-item page-next {% if now_page == last_page or last_page==0 %}disabled{% endif %}">
                <a class="page-link" href="?page={{now_page+1}}">بعدی</a>
            </li>
        </ul>
        <!-- pagination-wrapper -->
    </div>
</div>

<!--
{% set musics_data = [] %}
{% for post in posts %}
{{ musics_data.append({
    "name": post.Music_Name,
    "artist": post.Creator,
    "url": post.Music.href,
    "cover": post.Cover.href,
}) }}


{% endfor %}


<div style="font-family: 'iranyekan';" id="aplayer"></div>
<script>
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    fixed: true,
    audio: JSON.parse('{{ musics_data | tojson | safe}}')
});
</script>
-->

{% endblock %}