<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Favicon -->
		<link rel="icon" href="/static//assets/images/brand/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="/static//assets/images/brand/favicon.ico" />

		<!-- Title -->
		<title> پروفایل - پنل موفقیت اِرج </title>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="/static//assets/plugins/bootstrap/css/bootstrap.min.css">

		<!-- Dashboard css -->
		<link href="/static//assets/css/style.css" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="/static//assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!-- Sidemenu css -->
		<link href="/static//assets/plugins/toggle-sidebar/full-sidemenu.css" rel="stylesheet" />

		<!--Daterangepicker css-->
		<link href="/static//assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link href="/static//assets/plugins/accordion1/css/easy-responsive-tabs.css" rel="stylesheet">

		<!-- Rightsidebar css -->
		<link href="/static//assets/plugins/sidebar/sidebar.css" rel="stylesheet">

		<!---Font icons css-->
		<link href="/static//assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
		<link href="/static//assets/plugins/iconfonts/icons.css" rel="stylesheet" />
		<link  href="/static//assets/fonts/fonts/font-awesome.min.css" rel="stylesheet">

		<link  href="/static//assets/rtl.css" rel="stylesheet"></head>
	<body class="app sidebar-mini rtl">

		<!--Global-Loader-->
		<div class="page">
			<div class="page-main">

				<!--app-header-->
				<div class="app-header header d-flex">
					<div class="container-fluid">
						<div class="d-flex">
						    <a class="header-brand" href="/">
								<img src="/static//assets/images/brand/logo.jpg" class="header-brand-img main-logo" alt="Hogo logo">
								<img src="/static//assets/images/brand/icon.png" class="header-brand-img icon-logo" alt="Hogo logo">
							</a><!-- logo-->
                            <ul class="nav navbar-nav horizontal-nav header-nav">
								<li class="mega-dropdown nav-item">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fe fe-grid mr-2"></i> دسترسی سریع <i class="fa fa-angle-down ml-1"></i>
									</a>
									<ul class="dropdown-menu mega-dropdown-menu container row p-5">
										<li>
											<div class="row">
												<div class="col-md-4">
													<div class="">
														<div class="card-body p-0 relative">

														</div>
													</div>
												</div>
												<div class="col-2">
													<h4  class="mb-3"> دسترسی سریع </h4>
‍													 <a class="dropdown-item pl-0 pr-0" href="AboutUs"><i class="fa fa-angle-double-right text-muted mr-1"></i> درباره ما </a>
													<a class="dropdown-item pl-0 pr-0" href="Courses"><i class="fa fa-angle-double-right text-muted mr-1"></i> دوره ها </a>
													<a class="dropdown-item pl-0 pr-0" href="Profile"><i class="fa fa-angle-double-right text-muted mr-1"></i> پروفایل </a>

												</div>
												<div class="col-2">
													<h4  class="mb-3"> </h4>
                                                    <a class="" href="#"><i class=""></i>       </a>
                                                    <a class="" href="#"><i class=""></i>       </a>
                                                    <a class="" href="#"><i class=""></i>       </a>
                                                    <a class="" href="#"><i class=""></i>       </a>
                                                    <a class="" href="#"><i class=""></i>       </a>
                                                    <a class="" href="#"><i class=""></i>       </a>

													<a class="dropdown-item pl-0 pr-0" href="/blog"><i class="fa fa-angle-double-right text-muted mr-1"></i> مقالات </a>
													<a class="dropdown-item pl-0 pr-0" href="/MotivationWall"><i class="fa fa-angle-double-right text-muted mr-1"></i> صفحه انگیزه </a>
													<a class="dropdown-item pl-0 pr-0" href="ProfileSetting"><i class="fa fa-angle-double-right text-muted mr-1"></i> ویرایش مشخصات </a>

												</div>
												
											</div>
										</li>
									</ul>
								</li>
							</ul>
							
							<ul class="nav header-nav">
								
							</ul>
							<div class="d-flex order-lg-2 ml-auto header-rightmenu">
								<div class="dropdown">
									<a  class="nav-link icon full-screen-link" id="fullscreen-button">
										<i class="fe fe-maximize-2"></i>
									</a>
								</div><!-- full-screen -->
								<div class="dropdown header-notify">
									<a class="nav-link icon" data-toggle="dropdown" aria-expanded="false">
										<i class="fe fe-bell "></i>
										<span class="pulse bg-success"></span>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
										<a href="#" class="dropdown-item text-center">4 اطلاعیه جدید</a>
										<div class="dropdown-divider"></div>
										<a href="#" class="dropdown-item d-flex pb-3">
											<div class="notifyimg bg-green">
												<i class="fe fe-mail"></i>
											</div>
											<div>
												<strong> پیام ارسال شد. </strong>
												<div class="small text-muted">12 دقیقه قبل </div>
											</div>
										</a>
										<a href="#" class="dropdown-item d-flex pb-3">
											<div class="notifyimg bg-pink">
												<i class="fe fe-shopping-cart"></i>
											</div>
											<div>
												<strong> سفارش قرار داده شده </strong>
												<div class="small text-muted">2  ساعت قبل </div>
											</div>
										</a>
										<a href="#" class="dropdown-item d-flex pb-3">
											<div class="notifyimg bg-blue">
												<i class="fe fe-calendar"></i>
											</div>
											<div>
												<strong> رویداد آغاز شده </strong>
												<div class="small text-muted">1  ساعت قبل </div>
											</div>
										</a>
										<a href="#" class="dropdown-item d-flex pb-3">
											<div class="notifyimg bg-orange">
												<i class="fe fe-monitor"></i>
											</div>
											<div>
												<strong> راه اندازی مجدد شما </strong>
												<div class="small text-muted">2  روز قبل </div>
											</div>
										</a>
										<div class="dropdown-divider"></div>
										<a href="#" class="dropdown-item text-center">مشاهده تمام اعلان ها</a>
									</div>
								</div><!-- notifications -->
								<div class="dropdown header-user">
									<a class="nav-link leading-none siderbar-link"  data-toggle="sidebar-right" data-target=".sidebar-right">
										<span class="mr-3 d-none d-lg-block ">
											<span class="text-gray-white"><span class="ml-2"> آلیسون </span></span>
										</span>
										<span class="avatar avatar-md brround"><img src="/static//assets/images/users/female/33.png" alt="Profile-img" class="avatar avatar-md brround"></span>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										<div class="header-user text-center mt-4 pb-4">
											<span class="avatar avatar-xxl brround"><img src="/static//assets/images/users/female/33.png" alt="Profile-img" class="avatar avatar-xxl brround"></span>
											<a href="#" class="dropdown-item text-center font-weight-semibold user h3 mb-0"> آلیسون </a>
											<small> طراح وب </small>
										</div>
										<a class="dropdown-item" href="/blog">
											<i class="dropdown-icon mdi mdi-approval "></i> وبسایت اِرج
										</a>
										<a class="dropdown-item" href="Courses">
											<i class="dropdown-icon  mdi mdi-wunderlist"></i> دوره های موفقیت
										</a>
										<div class="card-body border-top">
											<div class="row">
												<div class="col-6 text-center">
													<a class="" href=""><i class="dropdown-icon mdi mdi-logout-variant fs-30 m-0 leading-tight"></i></a>
													<div> خروج </div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- profile -->
								<div class="dropdown">
									<a  class="nav-link icon siderbar-link" data-toggle="sidebar-right" data-target=".sidebar-right">
										<i class="fe fe-more-horizontal"></i>
									</a>
								</div>
		
		
		<!-- Right-siebar-->
	</div>
</div>
</div>
</div>
<!--app-header end-->

<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar toggle-sidebar">
<div class="app-sidebar__user pb-0">
<div class="user-body">
	<span class="avatar avatar-xxl brround text-center cover-image" data-image-src="/static//assets/images/users/female/33.png"></span>
</div>
<div class="user-info">
	<a href="#" class="ml-2"><span class="text-dark app-sidebar__user-name font-weight-semibold">جنا ساید</span><br>
		<span class="text-muted app-sidebar__user-name text-sm"> طراح وب </span>
	</a>
</div>
</div>

<div class="tab-menu-heading siderbar-tabs border-0  p-0">
<div class="tabs-menu ">
	<!-- Tabs -->
	<ul class="nav panel-tabs">
		<li class=""><a href="/" class="active" data-toggle="tab"><i class="fa fa-home fs-17"></i></a></li>




		<li><a href="login.html" title="logout"><i class="fa fa-power-off fs-17"></i></a></li>
	</ul>
</div>
</div>
<div class="panel-body tabs-menu-body side-tab-body p-0 border-0 ">
<div class="tab-content">
	<div class="tab-pane active " id="index1">
		<ul class="side-menu toggle-menu">
			<li>
				<a class="side-menu__item"  href="#"><i class="side-menu__icon typcn typcn-device-desktop"></i><span class="side-menu__label"> داشبورد </span></a>
			</li>
		
			<li class="slide">
				<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-th-large-outline"></i><span class="side-menu__label"> برنامه ها </span><i class="angle fa fa-angle-right"></i></a>
				<ul class="slide-menu">
					<li><a href="Courses" class="slide-item"> دوره ها </a></li>
					<li><a href="/blog" class="slide-item">  مقالات </a></li>

				</ul>
			</li>
			
			<li class="slide">
				<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-cog-outline"></i><span class="side-menu__label"> تنظیمات </span><i class="angle fa fa-angle-right"></i></a>
				<ul class="slide-menu">
					<li><a href="Profile" class="slide-item"> پروفایل </a></li>
					<li><a href="ProfileSetting" class="slide-item"> ویرایش مشخصات </a></li>

					<li><a href="mailservices" class="slide-item"> صندوق پیام ها </a></li>
					
					<li><a href="faq" class="slide-item"> سؤالات متداول </a></li>

					<li><a href="LogOut" class="slide-item"> خارج شدن </a></li>
				</ul>
			</li>
			
		</ul>
	</div>

	
</div>
</div>
</aside>
<!--sidemenu end-->

<!-- app-content-->
<div class="app-content  my-3 my-md-5 toggle-content">
<div class="side-app">
<div class="bg-white p-3 header-secondary row">
	<div class="col">
		<div class="d-flex">
			<a class="btn btn-danger" href="BuyCourses"><i class="fe fe-rotate-cw mr-1 mt-1"></i> ارتقاء </a>
		</div>

	</div>
	<div class="col col-auto">
		<a class="btn btn-light mt-4 mt-sm-0" href="Help"><i class="fe fe-help-circle mr-1 mt-1"></i> راهنمایی </a>
		<a class="btn btn-success mt-4 mt-sm-0" href="Courses"><i class="fe fe-plus mr-1 mt-1"></i> دوره ها </a>
	</div>
</div>
<!-- page-header -->
<div class="page-header">

</div>
						<!-- End page-header -->

						<!-- row -->
						<div class="row">
								<div class="col-md-12">
									<div class="card card-profile  overflow-hidden">
										<div class="card-body text-center profile-bg">
											<div class=" card-profile">
												<div class="row justify-content-center">
													<div class="">
														<div class="">
															<a href="#">
																<img src="/static//assets/images/users/female/5.jpg" class="avatar-xxl rounded-circle" alt="profile">
															</a>
														</div>
													</div>
												</div>
											</div>
											<h3 class="mt-3 text-white"> آلیسون </h3>
											<p class="mb-2 text-white"> طراح وب </p>
											<div class="text-center mb-4">

											</div>

											<a href="EditProfile" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt" aria-hidden="true"></i> ویرایش مشخصات </a>
										</div>
										
									</div>
									<div class="card">
										<div class="card-body pb-0">
											<div class="tab-content" id="myTabContent">
												<div class="tab-pane fade active show" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
													<div class="table-responsive mb-3">
														<table class="table row table-borderless w-100 m-0 border">
															<tbody class="col-lg-6 p-0">
																<tr>
																	<td><strong> نام و نام خانوادگی :</strong> علیرضا شعبانی</td>
																</tr>
																<tr>
																	<td><strong>یوزرنیم :</strong> revs </td>
																</tr>
																<tr>
																	<td><strong>مکان :</strong> ایران </td>
																</tr>
																<tr>
																	<td><strong>سن :</strong> 16</td>
																</tr>
															</tbody>
															<tbody class="col-lg-6 p-0">
																<tr>
																	<td><strong>شغل :</strong> طراح وب </td>
																</tr>
																<tr>
																	<td><strong>وبسایت :</strong> Revisto.ir</td>
																</tr>
																<tr>
																	<td><strong>ایمیل :</strong> info@revs.com</td>
																</tr>
																<tr>
																	<td><strong>شماره تلفن :</strong> +98197275112</td>
																</tr>
															</tbody>
														</table>
													</div>
													<h4><strong>درباره من</strong></h4>
													<p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
													<div class="media-heading mt-3">
														<h4><strong>بیوگرافی</strong></h4>
													</div>
													<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus</p>
													<p class="mb-4">because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
												</div>
												<div aria-labelledby="tabs-icons-text-2-tab" class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel">
													<div class="row">
														<div class="col-md-12">
															<div class="content content-full-width" id="content">
																<!-- begin profile-content -->
																<div class="profile-content">
																	<!-- begin tab-content -->
																	<div class="tab-content p-0">
																		<!-- begin #profile-friends tab -->
																		<div class="tab-pane fade in active show" id="profile-friends">
																			<h4 class="mt-0 mb-4">Friend List (14)</h4><!-- begin row -->
																			<div class="row row-space-2">
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/female/2.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Latoya Laver</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																									Friends
																								</button>
																								<ul class="dropdown-menu dropdown-menu-right" role="menu">
																									<li><a href="#"> مشاهده پروفایل</a></li>
																									<li><a href="#">Follow</a></li>
																									<li><a href="#">Message</a></li>
																									<li><a href="#">Suggestion</a></li>
																									<li><a href="#">Un friend</a></li>
																								</ul>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/female/4.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Polly Amon</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																									Friends
																								</button>
																								<ul class="dropdown-menu dropdown-menu-right" role="menu">
																									<li><a href="#"> مشاهده پروفایل</a></li>
																									<li><a href="#">Follow</a></li>
																									<li><a href="#">Message</a></li>
																									<li><a href="#">Suggestion</a></li>
																									<li><a href="#">Un friend</a></li>
																								</ul>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/male/2.jpg"></a>
																							<div class="media-body valign-middle ">
																								<b class="text-inverse">Paul Molive</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																									Friends
																								</button>
																								<ul class="dropdown-menu dropdown-menu-right" role="menu">
																									<li><a href="#"> مشاهده پروفایل</a></li>
																									<li><a href="#">Follow</a></li>
																									<li><a href="#">Message</a></li>
																									<li><a href="#">Suggestion</a></li>
																									<li><a href="#">Un friend</a></li>
																								</ul>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/female/1.jpg"></a>
																							<div class="media-body valign-middle ">
																								<b class="text-inverse">Corinna Eifert</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																									Friends
																								</button>
																								<ul class="dropdown-menu dropdown-menu-right" role="menu">
																									<li><a href="#"> مشاهده پروفایل</a></li>
																									<li><a href="#">Follow</a></li>
																									<li><a href="#">Message</a></li>
																									<li><a href="#">Suggestion</a></li>
																									<li><a href="#">Un friend</a></li>
																								</ul>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/female/3.jpg"></a>
																							<div class="media-body valign-middle ">
																								<b class="text-inverse">Kenna Pride</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																									Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/male/3.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Mark Sunseri</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																									Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/female/5.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Kenna Pride</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																									Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/female/6.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Anna Sthesia</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																									Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/male/5.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Trenton Tookes</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																									Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class=" mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/male/6.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Elias Arboleda</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																										Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/female/7.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Sarah Yevo</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																										Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/male/7.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Sergio Silverio</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																										Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/female/9.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Kathern Risner</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																										Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- end col-6 -->
																				<div class="col-xl-6">
																					<div class="mb-2 border shadow">
																						<div class="media  media-xs overflow-visible">
																							<a class="media-left" href="javascript:;"><img alt="" class="avatar avatar-md brround" src="/static//assets/images/users/female/8.jpg"></a>
																							<div class="media-body valign-middle">
																								<b class="text-inverse">Honey Maloney</b>
																							</div>
																							<div class="media-body valign-middle text-right overflow-visible">
																								<div class="btn-group">
																									<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
																										Friends
																									</button>
																									<ul class="dropdown-menu dropdown-menu-right" role="menu">
																										<li><a href="#"> مشاهده پروفایل</a></li>
																										<li><a href="#">Follow</a></li>
																										<li><a href="#">Message</a></li>
																										<li><a href="#">Suggestion</a></li>
																										<li><a href="#">Un friend</a></li>
																									</ul>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div><!-- end col-6 -->
																			</div><!-- end row -->
																		</div><!-- end #profile-friends tab -->
																	</div><!-- end tab-content -->
																</div><!-- end profile-content -->
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
													<div class="row">
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="/static//assets/images//photos/14.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="/static//assets/images//photos/19.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="/static//assets/images//photos/20.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="/static//assets/images//photos/4.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="/static//assets/images//photos/5.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="/static//assets/images//photos/6.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="/static//assets/images//photos/10.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="/static//assets/images//photos/8.jpg" alt="gallery">
															</div>
														</div>
														<div class="col-lg-4 profile-image">
															<div class="card shadow">
																<img src="/static//assets/images//photos/9.jpg" alt="gallery">
															</div>
														</div>
													</div>
												</div>
												

											</div>
										</div>
									</div>
								</div>
							</div>
						<!-- row end -->

					</div>

					<!-- Right-sidebar-->
					<div class="sidebar sidebar-right sidebar-animate">
						<div class="tab-menu-heading siderbar-tabs border-0">
							<div class="tabs-menu ">
								<!-- Tabs -->
								<ul class="nav panel-tabs">
									<li class=""><a href="#tab"  class="active" data-toggle="tab"> پروفایل </a></li>

									<li><a href="#tab2" data-toggle="tab"> فعالیت </a></li>
									
								</ul>
							</div>
						</div>
						<div class="panel-body tabs-menu-body side-tab-body p-0 border-0 ">
							<div class="tab-content border-top">
								<div class="tab-pane active " id="tab">
									<div class="card-body p-0">
										<div class="header-user text-center mt-4 pb-4">
											<span class="avatar avatar-xxl brround"><img src="/static//assets/images/users/female/33.png" alt="Profile-img" class="avatar avatar-xxl brround"></span>
											<div class="dropdown-item text-center font-weight-semibold user h3 mb-0"> آلیسون </div>
											<small> طراح وب </small>
											<div class="card-body">

											</div>
										</div>
                                        
										<a class="dropdown-item  border-top" href="/blog">
											<i class="dropdown-icon mdi mdi-approval "></i> وبسایت اِرج
										</a>
										<a class="dropdown-item border-top" href="Courses">
											<i class="dropdown-icon  mdi mdi-wunderlist"></i> دوره های موفقیت
										</a>
										<div class="card-body border-top">
											<div class="row">
												<div class="col-4 text-center">
													<a class="" href="ProfileSetting"><i class="dropdown-icon mdi mdi-tune fs-30 m-0 leading-tight"></i></a>
													<div> تنظیمات </div>
												</div>
												<div class="col-4 text-center">
													<a class="" href="LogOut"><i class="dropdown-icon mdi mdi-logout-variant fs-30 m-0 leading-tight"></i></a>
													<div> خروج </div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="tab-pane  " id="tab2">
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-primary brround avatar-md">CH</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>وب سایت جدید ایجاد شده است</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">30 دقیقه قبل </small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-danger brround avatar-md">N</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>آماده شدن برای پروژه بعدی</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">2 ساعت قبل </small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-info brround avatar-md">S</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>زمان بحث لایو را تعیین کنید</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">3 ساعت قبل </small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-warning brround avatar-md">K</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>Team Review meeting at yesterday at 3:00 pm</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">4 ساعت قبل </small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-success brround avatar-md">R</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>آماده شدن برای ارائه</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">1 روز قبل </small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center  border-bottom p-4">
										<div class="">
											<span class="avatar bg-pink brround avatar-md">MS</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>آماده شدن برای ارائه</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">1 روز قبل </small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-purple brround avatar-md">L</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>آماده شدن برای ارائه</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">45 دقیقه قبل</small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center p-4">
										<div class="">
											<span class="avatar bg-blue brround avatar-md">U</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>آماده شدن برای ارائه</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">2 روز قبل </small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>

					<!--footer-->
					<footer class="footer">
						<div class="container">
							<div class="row align-items-center flex-row-reverse">
								<div class="col-lg-12 col-sm-12   text-center">
									کپی رایت © 2020 <a href="https://panel.urge.ir"> پنل </a> . طراحی شده توسط <a href="https://www.urge.ir/"> اِرج</a> همه حقوق محفوظ است.
								</div>
							</div>
						</div>
					</footer>
					<!-- End Footer-->

				</div>
				<!-- End app-content-->
			</div>
		</div>
		<!-- End Page -->

		<!-- Back to top -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

		<!-- Jquery js-->
		<script src="/static//assets/js/vendors/jquery-3.2.1.min.js"></script>

		<!--Bootstrap.min js-->
		<script src="/static//assets/plugins/bootstrap/popper.min.js"></script>
		<script src="/static//assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery Sparkline js-->
		<script src="/static//assets/js/vendors/jquery.sparkline.min.js"></script>

		<!-- Chart Circle js-->
		<script src="/static//assets/js/vendors/circle-progress.min.js"></script>

		<!-- Star Rating js-->
		<script src="/static//assets/plugins/rating/jquery.rating-stars.js"></script>

		<!--Moment js-->
		<script src="/static//assets/plugins/moment/moment.min.js"></script>

		<!-- Daterangepicker js-->
		<script src="/static//assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

		<!--Side-menu js-->
		<script src="/static//assets/plugins/toggle-sidebar/sidemenu.js"></script>

		<!--Time Counter js-->
		<script src="/static//assets/plugins/counters/jquery.missofis-countdown.js"></script>
		<script src="/static//assets/plugins/counters/counter.js"></script>

		<!-- Sidebar Accordions js -->
		<script src="/static//assets/plugins/accordion1/js/easyResponsiveTabs.js"></script>

		<!-- Custom scroll bar js-->
		<script src="/static//assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Rightsidebar js -->
		<script src="/static//assets/plugins/sidebar/sidebar.js"></script>

		<!-- Custom js-->
		<script src="/static//assets/js/custom.js"></script>

	</body>
</html>
