<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="Urge– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template"/>

		<!-- Favicon -->
		<link rel="icon" href="/static//assets/images/brand/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="/static//assets/images/brand/favicon.ico" />

		<!-- Title -->
		<title>قالب هوگو - قالب HTML داشبورد مدیریتی چندمنظوره بوت استرپ ریسپانسیو</title>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="/static//assets/plugins/bootstrap/css/bootstrap.min.css">

		<!-- Dashboard css -->
		<link href="/static//assets/css/style.css" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="/static//assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!-- Sidemenu css -->
		<link href="/static//assets/plugins/toggle-sidebar/full-sidemenu.css" rel="stylesheet" />

		<!--Daterangepicker css-->
		<link href="/static//assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link href="/static//assets/plugins/accordion1/css/easy-responsive-tabs.css" rel="stylesheet">

		<!-- Rightsidebar css -->
		<link href="/static//assets/plugins/sidebar/sidebar.css" rel="stylesheet">

		<!---Font icons css-->
		<link href="/static//assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
		<link href="/static//assets/plugins/iconfonts/icons.css" rel="stylesheet" />
		<link  href="/static//assets/fonts/fonts/font-awesome.min.css" rel="stylesheet">

		<link  href="/static//assets/rtl.css" rel="stylesheet"></head>	<body class="bg-account">
	    <!-- page -->
		<div class="page">

			<!-- page-content -->
			<div class="page-content">
				<div class="container text-center text-dark">
					<div class="display-1  text-dark mb-5">500</div>
					<p class="h5 font-weight-normal mb-7 leading-normal">Internal Server Error...</p>
					<a class="btn btn-primary  mb-5" href="index.html">
						Back To Home
					</a>
				</div>
			</div>
			<!-- page-content end -->
		</div>
		<!-- page End-->

		<!-- Jquery js-->
		<script src="/static//assets/js/vendors/jquery-3.2.1.min.js"></script>

		<!--Bootstrap.min js-->
		<script src="/static//assets/plugins/bootstrap/popper.min.js"></script>
		<script src="/static//assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery Sparkline js-->
		<script src="/static//assets/js/vendors/jquery.sparkline.min.js"></script>

		<!-- Chart Circle js-->
		<script src="/static//assets/js/vendors/circle-progress.min.js"></script>

		<!-- Star Rating js-->
		<script src="/static//assets/plugins/rating/jquery.rating-stars.js"></script>

		<!-- Sidebar Accordions js -->
		<script src="/static//assets/plugins/accordion1/js/easyResponsiveTabs.js"></script>

		<!--Moment js-->
		<script src="/static//assets/plugins/moment/moment.min.js"></script>

		<!-- Daterangepicker js-->
		<script src="/static//assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

		<!-- Custom scroll bar js-->
		<script src="/static//assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Custom js-->
		<script src="/static//assets/js/custom.js"></script>

	</body>
</html>