<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="Urge– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template"/>

		<!-- Favicon -->
		<link rel="icon" href="/static//assets/images/brand/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="/static//assets/images/brand/favicon.ico" />

		<!-- Title -->
		<title>ثبت نام - پنل موفقیت اِرج</title>
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="/static//assets/plugins/bootstrap/css/bootstrap.min.css">

		<!-- Dashboard css -->
		<link href="/static//assets/css/style.css" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="/static//assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!-- Sidemenu css -->
		<link href="/static//assets/plugins/toggle-sidebar/full-sidemenu.css" rel="stylesheet" />

		<!--Daterangepicker css-->
		<link href="/static//assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link href="/static//assets/plugins/accordion1/css/easy-responsive-tabs.css" rel="stylesheet">

		<!-- Rightsidebar css -->
		<link href="/static//assets/plugins/sidebar/sidebar.css" rel="stylesheet">

		<!---Font icons css-->
		<link href="/static//assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
		<link href="/static//assets/plugins/iconfonts/icons.css" rel="stylesheet" />
		<link  href="/static//assets/fonts/fonts/font-awesome.min.css" rel="stylesheet">

		<link  href="/static//assets/rtl.css" rel="stylesheet"></head>	<body class="bg-account">
	    <!-- page -->
		<div class="page">

			<!-- page-content -->
			<div class="page-content">
				<div class="container text-center text-dark">
					<div class="row">
						<div class="col-lg-4 d-block mx-auto">
							<div class="row">
								<div class="col-xl-12 col-md-12 col-md-12">
									<div class="card">
										<div class="card-body">
											<div class="text-center mb-6">
												<img src="/static//assets/images/brand/logo.jpg" class="" alt="">
											</div>
											<h3> ثبت نام </h3>
											<p class="text-muted">ساختن اکانت جدید</p>
											<form action="SignUpForm" method="post">
													<div class="input-group mb-3">
														<span class="input-group-addon bg-white"><i class="fa fa-user w-4"></i></span>
														<input id="mytextbox"  class="form-control" placeholder="نام کاربری">
													</div>
													<div class="input-group mb-4">
														<span class="input-group-addon bg-white"><i class="fa fa-envelope  w-4"></i></span>
														<input type="email" class="form-control" placeholder="ایمیل">
													</div>
													<div class="input-group mb-4">
														
														<span class="input-group-addon bg-white"><i class="fa fa-unlock-alt  w-4"></i></span>
														<input type="password" class="form-control" placeholder="پسوورد">
													</div>
													<div class="g-recaptcha" data-sitekey="6LfokdYZAAAAAPx0LZK5FQMhbSJhSKjOoeG1Zdo_" style="
														padding-block-end: 20px;
														padding-right: 12px;
														padding-block-start: 10px;
														"><div style="width: 304px;right: 100px !important;height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfokdYZAAAAAPx0LZK5FQMhbSJhSKjOoeG1Zdo_&amp;co=aHR0cDovLzEyNy4wLjAuMToxMjM0&amp;hl=en&amp;v=48TunWH-ZrLteSwFVbw6tVnx&amp;size=normal&amp;cb=hn8t6z69gxiu" width="304" height="78" role="presentation" name="a-bkrjftuclrs0" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox" style="right: 100px !important;"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
												</div>

	

													<div class="row">
														<div class="col-12">
															<button type="submit" class="btn btn-primary btn-block px-4">ساخت اکانت جدید</button>
														</div>
													</div>

											</form>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- page-content end -->
		</div>
		<!-- page End-->

		<!-- Jquery js-->
		<script src="/static//assets/js/vendors/jquery-3.2.1.min.js"></script>

		<!--Bootstrap.min js-->
		<script src="/static//assets/plugins/bootstrap/popper.min.js"></script>
		<script src="/static//assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery Sparkline js-->
		<script src="/static//assets/js/vendors/jquery.sparkline.min.js"></script>

		<!-- Chart Circle js-->
		<script src="/static//assets/js/vendors/circle-progress.min.js"></script>

		<!-- Star Rating js-->
		<script src="/static//assets/plugins/rating/jquery.rating-stars.js"></script>

		<!-- Sidebar Accordions js -->
		<script src="/static//assets/plugins/accordion1/js/easyResponsiveTabs.js"></script>

		<!--Moment js-->
		<script src="/static//assets/plugins/moment/moment.min.js"></script>

		<!-- Daterangepicker js-->
		<script src="/static//assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

		<!-- Custom scroll bar js-->
		<script src="/static//assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Custom js-->
		<script src="/static//assets/js/custom.js"></script>

	</body>
</html>