{% extends "admin_base.html" %} {% block title %} اِرج ادمین - اضافه کردن دیتاهای اصلی روز {% endblock %} {% block additional_in_head %}
<link href="/static//assets/plugins/fileuploads/css/dropify.css" rel="stylesheet"> {% endblock %} {% block additional_in_script %}
<script src="/static//assets/plugins/fileuploads/js/dropify.js"></script>
<script src="/static//assets/plugins/fileuploads/js/dropify-demo.js"></script>


{% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="/"> خانه </a></li>
<li class="breadcrumb-item"><a href="/Admin"> دسترسی ها </a></li>
<li class="breadcrumb-item"><a href="/Admin/Add/Day"> اضافه کردن روز </a></li>
<li class="breadcrumb-item active" aria-current="page"> دیتاهای اصلی </li>
{% endblock %} {% block body %}



<div class="row row-cards">
    <div class="col-lg-12 col-xl-9">
        <div class="row">
            <div class="card">
                <form id='submit_form' method="POST" enctype="multipart/form-data">

                    <div class="card-header">
                        <h3 class="mb-0 card-title">اضافه کردن دیتاهای اصلی روز دوره</h3>
                    </div>
                    <div class="card-body">
                        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <h3 style="
                                                text-align: center;
                                                color: {{message.Color}} ">{{message.Result}}</h3>
                        {% endfor %} {% endif %} {% endwith %}

                        <div class=" row ">


                            <div class="col-xl-4 col-lg-12 col-md-12" style=" max-width: 38%; margin-top: 20px;">
                                <div class="card shadow">
                                    <div class="card-header">
                                        <h3 style=" display: contents; " class="mb-0 card-title">آپلود کاور روز</h3>
                                        <p style="color: #ff0000; display: contents; "> * </p>
                                        </label>
                                    </div>
                                    <div class="card-body">
                                        <input type="file" name="cover" class="dropify" accept=".jpg,.jpeg,.png" required="required" />
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-5" style="margin-top: 60px;max-width: 29%;">


                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="form-label ">دوره</label>
                                        <select name='slug' class="form-control select2 select2-hidden-accessible " data-placeholder="Choose one (with optgroup) " tabindex="-1 " aria-hidden="true ">
                                                                <optgroup label="اسم دوره " >

                                                                {% for Course in Courses %}
                                                                    <option value="{{Course.Slug}}">{{Course.Name}}</option>
                                                                {% endfor %}

                                                                </optgroup>

                                                            </select>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="form-label ">روز</label>
                                        <input type="number" min="1" class="form-control" name="day" placeholder="شماره روز دوره " required="required">


                                        </select>
                                    </div>
                                </div>


                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="form-label ">اسم</label>
                                        <input maxlength="16" type="text" class="form-control" name="name_day" placeholder="اسم فارسی روز دوره " required="required">
                                    </div>
                                </div>



                            </div>
                            <div class="col-md-4" style="margin-top: 58px;max-width: 33%;">
                                <label class="form-label">توضیحات</label>
                                <textarea name="description" class="form-control" minlength="80" maxlength="95" name="bio" rows="4" placeholder="توضیحات روز" style="height: 42%;" required="required"></textarea>

                                <div class="form-group " style="margin-top: 20px;">
                                    <label class="form-label ">هزینه</label>
                                    <select name="price-status" onchange="pricecheck() " id="price" class="form-control select2 select2-hidden-accessible " data-placeholder="Choose one (with optgroup) " tabindex="-1 " aria-hidden="true ">
                                                            <optgroup label="هزینه ">
                                                                <option value="None-Free">دارای هزینه</option>
                                                                <option value="Free">رایگان</option>
                                                            </optgroup>
                                                        </select>


                                </div>

                            </div>



                        </div>

                    </div>




                    <button type="submit " class="btn btn-primary " style=" width: 100%; ">بزن بسازیم!</button>
                </form>

            </div>

        </div>

    </div>
</div>{% endblock %}