{% extends "admin_base.html" %} {% block title %} اِرج ادمین - اضافه کردن نقل قول های روز {% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="/"> خانه </a></li>
<li class="breadcrumb-item"><a href="/Admin"> دسترسی ها </a></li>
<li class="breadcrumb-item"><a href="/Admin/Add/Day"> اضافه کردن روز </a></li>
<li class="breadcrumb-item active" aria-current="page"> نقل قول ها </li>

{% endblock %} {% block body %}


<div class="row row-cards">
    <div class="col-lg-12 col-xl-9">
        <div class="row">
            <div class="card">
                <form id='submit_form' method="POST" enctype="multipart/form-data">

                    <div class="card-header">
                        <h3 class="mb-0 card-title">اضافه کردن نقل قول های روز دوره</h3>
                    </div>
                    <div class="card-body">
                        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <h3 style="text-align: center; color: {{message.Color}} ">{{message.Result}}</h3>
                        {% endfor %} {% endif %} {% endwith %}

                        <div class=" row ">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="form-label ">دوره</label>
                                        <select name='slug' class="form-control select2 select2-hidden-accessible " data-placeholder="Choose one (with optgroup) " tabindex="-1 " aria-hidden="true ">
                                                                <optgroup label="اسم دوره " >

                                                                {% for Course in Courses %}
                                                                    <option value="{{Course.Slug}}">{{Course.Name}}</option>
                                                                {% endfor %}

                                                                </optgroup>

                                                            </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="form-label ">روز</label>
                                        <input type="number" min="1" class="form-control" name="day" placeholder="شماره روز دوره " required="required">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="quotes">


                            <div class="col-md-12 quote">
                                <div class="form-group mb-0">
                                    <label style=" display: contents; " class="form-label">نقل قول شماره 1</label>

                                    <p style="color: #ff0000; display: contents; "> * </p>

                                    <textarea style="margin-top:10px;" class="form-control" name="quote" rows="2 " placeholder="نقل قول شماره 1 را وارد کنید."></textarea>

                                </div>
                            </div>



                        </div>

                        <div class="col-md-12 ">
                            <button onclick="addquote()" style="margin-top: 30px; margin-right: 5px" type="button" class="btn btn-warning btn-sm mb-1">اضافه کردن</button>
                            <button onclick="removequote()" style="margin-top: 30px; margin-right: 5px" type="button" class="btn btn-info btn-sm mb-1">حذف کردن</button>
                        </div>


                    </div>


                    <script>
                        function addquote() {

                            var countquotes = document.getElementsByClassName("quote").length + 1;
                            const div = document.createElement('div');

                            div.className = 'col-md-12 quote';
                            node = `
                                                <div class="form-group mb-0"  style="margin-top:20px; ">
                                                    <label style=" display: contents; " class="form-label">نقل قول شماره ` + countquotes + `</label>
                                                    <p style="color: #ff0000; display: contents; "> * </p>

                                                    <textarea style="margin-top:10px;" class="form-control" name="quote" rows="2 " placeholder="نقل قول شماره ` + countquotes + ` را وارد کنید."></textarea>


                                                </div>
                                            `
                            div.innerHTML = node;

                            document.getElementById('quotes').appendChild(div);
                        }

                        function removequote() {
                            var quotes = document.getElementsByClassName("quote");
                            if (quotes.length != 1) {
                                quotes[quotes.length - 1].remove();
                            }
                        }
                    </script>


                    <button type="submit " class="btn btn-primary " style=" width: 100%; ">بزن بسازیم!</button>
                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}