{% extends "admin_base.html" %} {% block title %} اِرج ادمین - اضافه کردن پست بلاگ {% endblock %} {% block additional_in_head %}
<script src="/static//CK-standard/ckeditor.js"></script>
<link href="/static//assets/plugins/fileuploads/css/dropify.css" rel="stylesheet">
{% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="/"> خانه </a></li>
<li class="breadcrumb-item"><a href="/Admin"> دسترسی ها </a></li>
<li class="breadcrumb-item"><a href="/Admin/Add"> اضافه کردن </a></li>
<li class="breadcrumb-item active" aria-current="page"> اضافه کردن  پست بلاگ </li>
{% endblock %}
{% block additional_in_script %}
<script src="/static//assets/plugins/fileuploads/js/dropify.js"></script>
<script src="/static//assets/plugins/fileuploads/js/dropify-demo.js"></script>
{% endblock %}

{% block body %}


<div class="row row-cards">
    <div class="col-lg-12 col-xl-9">
        <div class="row">
            <div class="card">
                <form id='submit_form' method="POST" enctype="multipart/form-data">

                    <div class="card-header">
                        <h3 class="mb-0 card-title">اضافه کردن پست بلاگ</h3>
                    </div>
                    <div class="card-body">
                        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <h3 style="text-align: center; color: {{message.Color}} ">{{message.Result}}</h3>
                        {% endfor %} {% endif %} {% endwith %}

                        <div class=" row ">
                            <div class="col-md-6" style="margin-top: 60px;">
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="form-label ">نام فارسی</label>
                                        <input class="form-control" name="name_persian" placeholder="نام فارسی " required="required">
                                            
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="form-label ">نام انگلیسی</label>
                                        <input class="form-control" name="name_eng" placeholder="نام انگلیسی" required="required">
                                            
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xl-12 col-lg-12 col-md-12" style="max-width: 48% !important">
                                <div class="card shadow" >
                                    <div class="card-header" style="border-right: none !important;">
                                        <h3 style=" display: contents;" class="mb-0 card-title">آپلود کاور</h3>
                                        <p style="color: #ff0000; display: contents; "> * </p>
                                        </label>
                                    </div>
                                    <div class="card-body">
                                        <input type="file" name="cover" class="dropify" accept=".jpg,.jpeg,.webp,.png" />
                                    </div>
                                </div>
                            </div>

                            


                            <div class="col-md-12">

                                <div class="form-group ">
                                    <div class="form-group ">
                                        <textarea style="width: 100%;height: 350px;" href="/static//ckeditor/config.js" class="ckeditor" name="text"></textarea>
                                    </div>
                                    <script>
                                        CKEDITOR.replace('text', {
                                            filebrowserBrowseUrl: '/browser/browse',
                                            filebrowserUploadUrl: '/uploader/ck/blog',
                                            height: 600

                                        });
                                    </script>
                                </div>

                            </div>




                        </div>

                    </div>




                    <button type="submit " class="btn btn-primary " style=" width: 100%; ">بزن بسازیم!</button>
                </form>

            </div>

        </div>


    </div>

</div>
{% endblock %}