{% extends "admin_base.html" %} {% block title %} پنل شخصی ادمین موفقیت اِرج - ساخت پست اینستاگرام {% endblock %}
{% block breadcrumb %}

<li class="breadcrumb-item"><a href="/"> خانه </a></li>
<li class="breadcrumb-item"><a href="/Admin/Accesses"> دسترسی ها </a></li>
<li class="breadcrumb-item active" aria-current="page"> ساخت پست اینستاگرام </li>
{% endblock %}
{% block main_css %}
<link href="/static//assets/css/style_course.css" rel="stylesheet" /> {% endblock %}
{% block body %}

<style>
    @media (min-width: 1890px) {
        .col-xll-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            /* min-width: 800px; */
        }
    }

    @font-face {
        font-family: kalameh;
        src: url(/static//instagram_collection_maker/template//static//instagram_collection_maker/template/fonts/Kalameh/KalamehWeb_Regular.ttf);
        font-weight: normal;
    }

    @font-face {
        font-family: kalameh;
        src: url(/static//instagram_collection_maker/template/fonts/Kalameh/KalamehWeb_Bold.ttf);
        font-weight: bold;
    }

    @font-face {
        font-family: kalameh;
        src: url(/static//instagram_collection_maker/template/fonts/Kalameh/KalamehWeb_Black.ttf);
        font-weight: bolder;
        font-weight: 900;
    }

    @font-face {
        font-family: kalameh;
        src: url(/static//instagram_collection_maker/template/fonts/Kalameh/KalamehWeb_thin.ttf);
        font-weight: lighter;
    }







    @font-face {
        font-family: yekan;
        src: url(/static//instagram_collection_maker/template/fonts/Yekan/IRANYekanWeb_Regular.ttf);
        font-weight: normal;
    }

    @font-face {
        font-family: yekan;
        src: url(/static//instagram_collection_maker/template/fonts/Yekan/IRANYekanWeb_Bold.ttf);
        font-weight: bold;
    }

    @font-face {
        font-family: yekan;
        src: url(/static//instagram_collection_maker/template/fonts/Yekan/IRANYekanWeb_Black.ttf);
        font-weight: bolder;
    }

    @font-face {
        font-family: yekan;
        src: url(/static//instagram_collection_maker/template/fonts/Yekan/IRANYekanWeb_ExtraBlack.ttf);
        font-weight: 900;
    }

    @font-face {
        font-family: yekan;
        src: url(/static//instagram_collection_maker/template/fonts/Yekan/IRANYekanWeb_Thin.ttf);
        font-weight: lighter;
    }


    .main-image-page-intro {
        margin: auto;
        height: 91%;
        width: 91%;
        margin-top: 5%;
        background-position: center;
        background-image: url(/static//1.webp);
        border-top-left-radius: 0%;
        border-top-right-radius: 24%;
        border-bottom-right-radius: 24%;
        border-bottom-left-radius: 24%;
        background-size: cover;
        display: flex;
         box-shadow: rgb(0 0 0 / 15%) 0px 0px 40px; 
    }

    .black-cover{
        background-color: black;
        margin: auto;
        height: 727px;
        width: 727px;
        margin-top: 0%;
        border-top-left-radius: 0%;
        border-top-right-radius: 24%;
        border-bottom-right-radius: 24%;
        border-bottom-left-radius: 24%;
        display: table;
        opacity: 0.2;
        position: absolute;
    }


    .p {
        font-family: kalameh;
        font-size: normal;
    }

    b {
        font-family: kalameh;
        font-weight: 900;
    }

    .bb {
        font-family: kalameh;
        font-weight: bolder;
    }

    .text {
        direction: rtl;
        color: #fff;
        font-size: 96px;
        text-shadow: 2px 3px 20px rgba(0, 0, 0, 0.5);
        width: 560px;
        position: relative;
    }

    .slider {
        width: auto;
    }

    .regular_text {
        direction: rtl;
        color: #fff;
        font-size: 20px;
        text-shadow: 2px 3px 20px rgba(0, 0, 0, 0.5);
        font-family: 'kalameh' !important;
        font-weight: bold !important;
    }


    .next_slide {
        padding-top: 70px !important;
        padding-right: 85px !important;
        font-size: 25px;
        padding-right: 50px;
        padding-left: 70px;
        /* padding-top: 2px !important; */
        margin-top: -145px;
        margin-right: 50px;
        font-family: 'yekan' !important;
        font-weight: bold !important;
        direction: rtl !important;
    }

    .post {
        width: 800px;
        height: 800px;
        display: table;
        background-color: rgb(243, 243, 243);
        margin-left: -8px;
        margin-top: -8px;
        text-align: right;
        direction: ltr;
        margin: auto;
    }

    .logo {
        width: 21%;
        height: 21%;
        margin-top: 2%;
        margin-left: 2%;
        align-self: center;margin-top: 70%;margin-left: 20px;opacity: 0.8;box-shadow: rgb(0 0 0 / 27%) 0px 0px 38px;/* border-radius: 50px; */border-bottom-left-radius: 86px;
    }

    .title_text {
        padding-right: 12%;
        padding-left: 8%;
        padding-top: 19%;
        line-height: 125%;
        direction: rtl;
        text-align: right;
        font-family: 'kalameh' !important;
        font-weight: bold !important;
    }

    .text-post {
        background-color: #00000042;
        height: fit-content;
        padding-bottom: 0px !important;
        padding: 28px;
        border-top-left-radius: 0px;
        border-top-right-radius: 75px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 75px;
        margin-top: 40px;
        margin-right: 100px;
        margin-left: -70px;
        backdrop-filter: blur(5px);
        box-shadow: rgb(0 0 0 / 27%) 0px 0px 38px;
        height: max-content
    }
</style>


<div class="row row-cards">

    <div class="col-sm-12 col-lg-12 col-xll-6">

        <div class="row">
            <div class="card">

                <div class="card-header">
                    <h3 class="mb-0 card-title">ساخت پست اینستاگرام</h3>
                </div>
                <div class="card-body">
                    <div class="row" style="margin-block-end: 30px;">
                        <div class="col-md-4 ">
                            <div class="form-group ">
                                <div class="form-group ">
                                    <label class="form-label ">تمپلیت</label>
                                    <select oninput="changeTemplate()" id="template" name="template" class="form-control select2 select2-hidden-accessible " data-placeholder="Choose one (with optgroup) " tabindex="-1 " aria-hidden="true ">
                                        <optgroup label="اسم تمپلیت ">
                                             {% for template_name in templates.posts_templates %}
                                            <option value="{{template_name}}">{{template_name}}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="form-group ">
                                <div class="form-group ">
                                    <label class="form-label ">محل لوگو</label>
                                    <select oninput="changeLogoPosition()" id="logoPositionChooser" class="form-control select2 select2-hidden-accessible " data-placeholder="Choose one (with optgroup) " tabindex="-1 " aria-hidden="true ">
                                        <optgroup label="محل لوگو">
                                             {% for logo_position in templates.logo_positions %}
                                            <option value="{{logo_position}}">{{logo_position}}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="form-group ">
                                <div class="form-group ">
                                    <label class="form-label ">سیاه بودن بک</label>
                                    <input oninput="changeBlack()" required="required" id="blackOpacity" type="number" class="form-control" placeholder="20" min="0" max="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="form-group ">
                                <div class="form-group ">
                                    <label class="form-label ">پوزیشن تصویر X</label>
                                    <input oninput="changePositionPic()" required="required" id="positionXPic" type="number" class="form-control" placeholder="50%" min="0" max="100" value="50">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="form-group ">
                                <div class="form-group ">
                                    <label class="form-label ">پوزیشن تصویر Y</label>
                                    <input oninput="changePositionPic()" required="required" id="positionYPic" type="number" class="form-control" placeholder="50%" min="0" max="100" value="50">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="form-group ">
                                <div class="form-group ">
                                    <label class="form-label ">سایز عکس</label>
                                    <input oninput="changeScalePic()" required="required" id="sizePic" type="number" class="form-control" placeholder="100%" min="1" max="300" value="cover">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="form-group ">
                                <div class="form-group ">
                                    <label class="form-label ">سایز فونت</label>
                                    <input oninput="changeFontsize()" required="required" id="font-size" type="number" class="form-control" placeholder="100%" min="1" value="35">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group ">
                                <div class="form-group ">
                                    <label class="form-label ">URL تصویر<p style="color: #ff0000; display: contents; ">
                                            * </p></label>
                                    <input oninput="changePicture()" required="required" id="picUrl"
                                        style="direction: ltr !important; font-family: monospace !important;" type="url"
                                        class="form-control" name="url" placeholder="URL">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group mb-0">
                                <label style=" display: contents; " class="form-label">متن</label>
                                <p style="color: #ff0000; display: contents; "> * </p>
                                <textarea oninput="changeText()" id="description" required="required"
                                    style="margin-top:10px;" class="form-control" name="description" rows="2 "
                                    placeholder="متن داخل پست یا تایتل"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4" style="margin-top: 30px;">
                            <li class="list-group-item">
                                حذف بخش "اسلاید بعدی"
                                <div class="material-switch pull-right">
                                    <input oninput="removeNextSlide()" id="someSwitchOptionWarning"
                                        name="removenextslide" type="checkbox">
                                    <label for="someSwitchOptionWarning" class="label-warning"></label>
                                </div>
                            </li>
                        </div>
                        <!-- <div class="col-md-4" style="margin-top: 30px;">
                            <li class="list-group-item">
                                سایه های سیاه
                                <div class="material-switch pull-right">
                                    <input oninput="changeShadowColor()" id="someSwitchOptionDefault"
                                        name="isShadowColorBlack" type="checkbox" checked="true">
                                    <label for="someSwitchOptionDefault" class="label-default"></label>
                                </div>
                            </li>
                        </div> -->
                    </div>
                </div>

                <script>
                    function changeText() {

                        const descriptionBar = document.getElementById("post");

                        description = document.getElementById("description").value
                        console.log(document.getElementById("templateElement").getElementsByTagName("p")[0].innerHTML)
                        if (description != ""){
                        document.getElementById("templateElement").getElementsByTagName("p")[0].innerHTML = description
                    }
                    }

                    function changePicture() {

                        const urlPostElement = document.getElementById("post");

                        urlPicture = document.getElementById("picUrl").value
                        if (urlPicture != ""){
                        urlPostElement.getElementsByClassName("main-image-page-intro")[0].style.backgroundImage = "url('" + urlPicture + "')"
                    }
                    }

                    function removeNextSlide() {
                        if (document.getElementsByName("removenextslide")[0].checked) {
                            document.getElementsByClassName("text slider")[0].style.display = "none"
                        }
                        else {
                            document.getElementsByClassName("text slider")[0].style.display = "revert"
                        }
                    }
                    function changeTemplate(){
                        document.getElementById("templateElement").remove()
                        document.getElementsByClassName("main-image-page-intro")[0].innerHTML = document.getElementsByClassName("main-image-page-intro")[0].innerHTML + ({{templates.posts_templates | safe}}[document.getElementById("template").value])
                        changeText()
                        changePicture()
                        changeLogoPosition()
                        changeBlack()
                        changeScalePic()
                    }
                    function changeLogoPosition(){
                        document.getElementById("logoImage").style = ({{templates.logo_positions | safe}}[document.getElementById("logoPositionChooser").value])
                    }
                    function changeBlack(){
                        document.getElementsByClassName("black-cover")[0].style.opacity = document.getElementById("blackOpacity").value / 100

                    }
                    function changePositionPic(){
                        console.log(document.getElementById("positionXPic").value + "%" +" "+ document.getElementById("positionYPic").value + "%" )
                        document.getElementsByClassName("main-image-page-intro")[0].style.backgroundPosition = document.getElementById("positionXPic").value + "%" +" "+ document.getElementById("positionYPic").value + "%" 
                    }
                    function changeScalePic(){
                        document.getElementsByClassName("main-image-page-intro")[0].style.backgroundSize = document.getElementById("sizePic").value + "%"

                    }
                    function changeFontsize(){
                        document.getElementById("main-text").style.fontSize = document.getElementById("font-size").value + "px"
                    }
                //     function changeShadowColor(){
                //         if (document.getElementsByName("isShadowColorBlack")[0].checked) {
                //             <style>
                //             .text-post{
                //                 box-shadow :rgb(0 0 0 / 100%) 5px 5px 1px;
                //             }
                //                 </style>
                //         text-post.setAttribute("box-shadow", "rgb(0 0 0 / 100%) 5px 5px 1px;")
                //     }
                // }
                </script>


                <button onclick="makepic()" class="btn btn-primary " style=" width: 100%; ">بزن بسازیم!</button>

            </div>

        </div>
    </div>

    <div class="col-sm-12 col-lg-12 col-xll-6">
        <div class="row">
            <!-- <div class="card" style="background-color: #f3f3f3;"> -->
            <div id="post" class="post" style="display: block !important;">
                <div class="main-image-page-intro">
                    <div class="black-cover"></div>
                    <img id="logoImage" class="logo" src="/static/instagram_collection_maker/template/logo/Logo.png">

                    <div id='templateElement' class="text">
                        <p id="main-text" class="title_text"> با ما پست هاتونو بسازید! </p>
                    </div>
                </div>
                <div class="text slider">
                    <p class="next_slide">
                        &lt;- اسلاید بعدی
                    </p>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>
    function makepic() {
        html2canvas(document.getElementById("post"), { scrollY: -window.scrollY, logging: true, letterRendering: 1 }).then(canvas => {
            const image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
            const a = document.createElement("a");
            a.setAttribute("download", `urge_instagram_post.png`);
            a.setAttribute("href", image);
            a.click();
        });
    }
</script>

{% endblock %}