{% extends "admin_base.html" %} {% block title %} اِرج ادمین - اضافه کردن روز {% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="/"> خانه </a></li>
<li class="breadcrumb-item"><a href="/Admin/Accesses"> دسترسی ها </a></li>
<li class="breadcrumb-item active" aria-current="page"> اضافه کردن روز جدید </li>

{% endblock %} {% block body %}

<div class="row row-cards">
    <div class="col-lg-12 col-xl-9">
        <div class="row">
            <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
                <div class="card overflow-hidden">
                    <a href="/Admin/Add/User">
                        <img src="https://cdn.dribbble.com/users/1355613/screenshots/12910702/media/eb3e410b34f212b220008b926afc236a.jpg?compress=1&resize=1000x750" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-3">اضافه کردن یوزر</h5>
                        <a href="/Admin/Add/Day/User" class="btn btn-info" style="
                                                background-color: #d07fdb;
                                                border-color: #d07fdb;
                                            "> اضافه کردن </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
                <div class="card overflow-hidden">
                    <a href="/Admin/Add/Day">
                        <img src="https://cdn.dribbble.com/users/241205/screenshots/6576939/jstesting_jest.png?compress=1&resize=800x600" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-3">اضافه کردن روز از دوره</h5>
                        <a href="/Admin/Add/Day" class="btn btn-info" style="
                                                background-color: #01aa9e;
                                                border-color: #01aa9e;
                                            "> اضافه کردن </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
                <div class="card overflow-hidden">
                    <a href="/Admin/Add/Course">
                        <img src="https://cdn.dribbble.com/users/1626229/screenshots/15228529/media/6d7ec777f18079a4721e233ed445a953.jpg?compress=1&resize=800x600" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-3">اضافه کردن دوره</h5>
                        <a href="/Admin/Add/Course" class="btn btn-info" style="
                                                background-color: #735ce2;
                                                border-color: #735ce2;
                                            "> اضافه کردن </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
                <div class="card overflow-hidden">
                    <a href="/Admin/Add/Course-Info">
                        <img src="https://cdn.dribbble.com/users/1499649/screenshots/3341269/working-on-comupter-freebiesmall.jpg?compress=1&resize=800x600" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-3">اضافه کردن توضیحات دوره</h5>
                        <a href="/Admin/Add/Course-Info" class="btn btn-info" style="
                                                background-color: #a17cc1;
                                                border-color: #a17cc1;
                                            "> اضافه کردن </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
                <div class="card overflow-hidden">
                    <a href="/Admin/Add/Post">
                        <img src="https://cdn.dribbble.com/users/816579/screenshots/10723830/media/495911503fea230e763b7bc6f906a4f8.png?compress=1&resize=1000x750" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-3">اضافه کردن مقاله بلاگ</h5>
                        <a href="/Admin/Add/Post" class="btn btn-info" style="
                                                background-color: #3e95f2;
                                                border-color: #3e95f2;
                                            "> اضافه کردن </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
                <div class="card overflow-hidden">
                    <a href="/Admin/Add/Music">
                        <img src="https://cdn.dribbble.com/users/47000/screenshots/14557001/media/e01028fe894e55d3d2efba91c6a9c27c.png?compress=1&resize=1000x750" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-3">اضافه کردن موزیک</h5>
                        <a href="/Admin/Add/Music" class="btn btn-info" style="
                                                background-color: #e74739;
                                                border-color: #e54537;
                                            "> اضافه کردن </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
                <div class="card overflow-hidden">
                    <a href="/Admin/Add/tool">
                        <img src="https://cdn.dribbble.com/users/618554/screenshots/7088079/media/378346c6ea6eb66dce2e753e25ba0ea7.png?compress=1&resize=1000x750" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-3">اضافه کردن ابزار</h5>
                        <a href="/Admin/Add/tool" class="btn btn-info" style="
                                                background-color: #e9c259;
                                                border-color: #e9c259;
                                            "> اضافه کردن </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}