***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***

***REMOVED***


***REMOVED***

***REMOVED***

***REMOVED***

secret_key = b"SECRET‌ KEY"


***REMOVED*** RECAPTCHA setting ***REMOVED***

***REMOVED***
***REMOVED***
recaptcha_public_key = "RECAPTCHA PUBLIC"
recaptcha_secret_key = "RECAPTCHA‌ SECRET"

***REMOVED*** end of RECAPTCHA setting ***REMOVED***

***REMOVED*** MONGODB setting ***REMOVED***

***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***


***REMOVED*** end of MONGODB setting ***REMOVED***


***REMOVED*** OAuth setting ***REMOVED***

google_client_id = "GOOGLE_CLIEND_ID"
google_client_secret = "GOOGLE_CLIEND_SECRET"

***REMOVED*** end of OAuth setting ***REMOVED***



***REMOVED*** ZARINPAL setting ***REMOVED***

mmerchant_id = "ZARIN‌ PAL mmerchant ID"
***REMOVED***

***REMOVED*** end of ZARINPAL setting ***REMOVED***

***REMOVED***

***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
