{% extends "base.html" %} {% block title %}مقاله {{post.Persian_Name}} از بلاگ اِرج{% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="/"> خانه </a></li>
<li class="breadcrumb-item"><a href="/blog"> مقالات </a></li>
<li class="breadcrumb-item active" aria-current="page"> {{post.Persian_Name}} </li>
{% endblock %}


{% block image_in_metatag %}{{post.Cover}}{% endblock %}
{% block description_in_metatag %}{{smart_description_preview_splitted_by_word(120,html_to_text((post.Text)[0:200]))}}...{% endblock %}

{% block main_css %}
<link href="/static//assets/css/style_course.css" rel="stylesheet" /> {% endblock %}
{% block change_element_body %}
onresize="set_height()"
{% endblock %}
{% block additional_in_head %}
<style>
    .plyr__progress input {
        direction: ltr !important;
    }

    .plyr__volume input {
        direction: ltr !important;
    }

    .plyr__menu__value {
        padding-right: 15px;
    }

    .plyr__control>span {
        padding-right: 5px;
    }

    .plyr--video {
        width: 100%;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const player = Plyr.setup('.js-player');
    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
<link rel="stylesheet" href="/static/assets/css/plyr.css" />
<script src="/static/assets/js/plyr.js"></script>

{% endblock %}
{% block body %}

<style>
    .post {
        width: 1000px !important;
    }

    @media screen and (max-width: 1921px) {
        .right-side-post {
            display: none
        }

        .left-side-post {
            width: calc(100% - 976px) !important;
        }
    }

    @media screen and (max-width: 1550px) {

        .right-side-post,
        .left-side-post {
            display: none
        }

        .post {
            margin: auto
        }
    }


    .view-picture-main {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center -45px;
        background-image: linear-gradient(0deg, rgb(0 0 0 / 15%) 13%, rgb(0 0 0 / 0%))
        
    }

    .besides-main {
        width: calc((100% - 976px)/1.5);
        position: relative;
        min-height: 1px;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        max-width: 450px;

    }

    .post-image {
        width: 100% !important;
        height: auto !important;
        border-radius: 10px;
        box-shadow: rgb(134 190 246 / 10%) 0px 8px 24px;
    }
</style>

<div class="row row-cards" style="justify-content: center;">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="col-md-12 ">

        <h3 style="
                            text-align: center;
                            padding-top: 40px;
                            color: {{message.Color}} ">{{message.Result}}</h3>
    </div>

    {% endfor %} {% endif %} {% endwith %}

    <div class="card post">
    <div style="text-align: justify;">
        <div id="blog-pic" style="background-size: cover;background-size: 100%;background-image:url('{{post.Cover}}'); background-position: center -85px;">
            <div class="view-picture-main"></div>
        </div>

        <div id="tags" style="margin: 16px; margin-right: 25px;">
            <span class="tag tag-blue">انگیزشی</span>
            <span class="tag tag-blue">برنامه ریزی</span>
        </div>
        <h2 style="margin:25px; margin-top: 5px; font-weight:400 !important">{{post.Persian_Name}}</h2>

        <div class="card-body d-flex flex-column" style="margin-top: -30px !important; margin-bottom: -20px;">

            <div class="d-flex align-items-center pb-5 mt-auto">
                <div><img
                        src="https://cdn.dribbble.com/users/1663335/screenshots/14772147/media/ca4ac668405c702ec65f1ca45583eda1.jpg?compress=1&resize=150x150"
                        alt="img" class="avatar brround avatar-md mr-3"></div>
                <div>
                    <small class="text-default font-weight-semibold">فاطمه فراهانی</small>

                    <a style="margin-right:40px"><i class="fa fa-calendar-o"></i> {{status_date_published_post_blog(post.First_Created_TimeStamp)}} </a>

                   
                    <small class="d-block text-muted">{{status_date_published_post_blog(post.First_Created_TimeStamp)}}</small>

                </div>


            </div>
        </div>
        <div class="card-body single-productslide main-body-text" id='text_main'>
            {{post.Text|safe}}
        </div>



        <script>
            elms = document.getElementsByClassName("main-body-text")[0].querySelectorAll("img");
            console.log(elms.length)
            for (i = 0; i < elms.length; i++) {
                elms[i].setAttribute("class", "post-image");
            }
        </script>


{% set recomendation_posts_counter = namespace(value=0) %}
{% for recomendation_post in posts[0:4] %}
{% if recomendation_post.English_Name != post.English_Name and recomendation_posts_counter.value < 2 %}
{% set recomendation_posts_counter.value = recomendation_posts_counter.value + 1 %}
    <div class="card card-aside" style="padding-right: 1.5rem;">
        <a href="#" class="card-aside-column cover-image" data-image-src="{{recomendation_post.Cover}}"
            style=" border-top-left-radius: 0px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 0px;background: url(&quot;{{recomendation_post.Cover}}&quot;) center center;"></a>
        <div class="card-body d-flex flex-column">
            <div class="d-flex align-items-center mb-5">
                <div><img class="avatar brround avatar-md mr-3"
                        src="https://cdn.dribbble.com/users/1663335/screenshots/14772147/media/ca4ac668405c702ec65f1ca45583eda1.jpg?compress=1&resize=150x150"
                        alt="img"></div>
                <div>
                    <a href="" class="text-default font-weight-semibold">فاطمه فراهانی</a>
                    
                    <small class="d-block text-muted">{{status_date_published_post_blog(post.First_Created_TimeStamp)}}</small>

                </div>

            </div>
            <h4><a href="/blog/{{recomendation_post.English_Name}}">{{recomendation_post.Persian_Name}}</a></h4>
            <div class="text-muted">{{html_to_text((recomendation_post.Text)[0:200])[:110]}}...</div>
            <a href="/blog/{{recomendation_post.English_Name}}" class=" mt-3 btn btn-md btn-secondary">بیشتر بخوانید</a>
        
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row" style="padding-right: 1.5rem; padding-left: 1.5rem;">

        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 m-b-4" >

            <div class="card">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="twitter p-4 br-tr-7 br-tl-7">
                                <div class="text-center text-white social">
                                    <a class="fa fa-twitter" href="https://twitter.com/urge_ir" style="
                                                                color: #fff;
                                                                font-size: 44px;
                                                            "></a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 m-b-4" >
            <div class="card">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="linkedin p-4 br-tr-7 br-tl-7">
                                <div href="https://virgool.io/@urge" class="text-center text-white social">
                                    <a style="
                                                                font-weight: 800;
                                                                color: #fff;
                                                                font-size: 30px;
                                                            " href="https://virgool.io/@urge">ویرگول</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- col end -->
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 m-b-4" >


            <div class="card">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="instagram p-4 br-tr-7 br-tl-7">
                                <div class="text-center text-white social">
                                    <a class="fa fa-instagram" href="https://www.instagram.com/urge_ir/" style="
                                                                color: #fff;
                                                                font-size: 44px;
                                                            "></a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <!-- row end -->
                </div>
            </div>
        </div>
    </div>

    </div>
    
    </div>

    

    <div class="row row-cards besides-main left-side-post">
        <div class="col-sm-12 col-xl-12">

            {% set left_side_posts_counter = namespace(value=0) %}
            {% for left_post in posts[0:3] %}
            {% if left_post.English_Name != post.English_Name and left_side_posts_counter.value < 3 %}
            {% set left_side_posts_counter.value = left_side_posts_counter.value + 1 %}
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <h4><a href="/blog/{{left_post.English_Name}}">{{left_post.Persian_Name}}</a></h4>
                    <div class="text-muted">{{html_to_text((post.Text)[0:200])[:50]}}...</div>

                </div>
                <a href="/blog/{{left_post.English_Name}}"><img class="card-img-top" src="{{left_post.Cover}}"></a>
            </div>
            {% endif %}
            {% endfor %}
            <div class="row">

            <!-- col end -->
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 m-b-12">
                <div class="card">
                    <div class="">
                        <div class="row">
                            <div class="col-12">
                                <div class="twitter p-4 br-tr-7 br-tl-7">
                                    <div class="text-center text-white social">
                                        <a class="fa fa-twitter" href="https://twitter.com/urge_ir" style="
                                                                    color: #fff;
                                                                    font-size: 44px;
                                                                "></a>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 m-b-12">
                <div class="card">
                    <div class="">
                        <div class="row">
                            <div class="col-12">
                                <div class="linkedin p-4 br-tr-7 br-tl-7">
                                    <div href="https://virgool.io/@urge" class="text-center text-white social">
                                        <a style="
                                                                    font-weight: 800;
                                                                    color: #fff;
                                                                    font-size: 30px;
                                                                " href="https://virgool.io/@urge">ویرگول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 m-b-12">
                <div class="card">
                    <div class="">
                        <div class="row">
                            <div class="col-12">
                                <div class="instagram p-4 br-tr-7 br-tl-7">
                                    <div class="text-center text-white social">
                                        <a class="fa fa-instagram" href="https://www.instagram.com/urge_ir/" style="
                                                                    color: #fff;
                                                                    font-size: 44px;
                                                                "></a>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <!-- row end -->
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

</div>
<script>
    function set_height(){
    const pic_heigh = (document.getElementById('blog-pic').clientWidth * 0.75 )
    if (pic_heigh -85 > 350){
        document.getElementsByClassName('view-picture-main')[0].style.height = 350 + "px";
    }
    else if (pic_heigh > 230){
        document.getElementsByClassName('view-picture-main')[0].style.height = pic_heigh + "px";
        document.getElementById("blog-pic").style.backgroundPosition = "center, center";
    }
    else{
        document.getElementsByClassName('view-picture-main')[0].style.height = pic_heigh-85 + "px";
    }
}
set_height()
</script>
{% endblock %}