"""
The personal data to be used in the project.
"""
from dotenv import load_dotenv
from os import getenv
from distutils import util

load_dotenv()


production = getenv("PRODUCTION")

template_folder = "templates"

static_folder = "static"

secret_key = b"SECRET‌ KEY"


""" RECAPTCHA setting """

recaptcha_enabled = True
recaptcha_theme = "dark"
recaptcha_public_key = "RECAPTCHA PUBLIC"
recaptcha_secret_key = "RECAPTCHA‌ SECRET"

""" end of RECAPTCHA setting """

""" MONGODB setting """

if production == "true":
    mongodb_URI = f"mongodb://{getenv('MONGO_INITDB_ROOT_USERNAME')}:{getenv('MONGO_INITDB_ROOT_PASSWORD')}@mongodb_container:27017/"
elif production == "false":
    mongodb_URI = "mongodb://localhost:27017/"


""" end of MONGODB setting """

""" ZARINPAL setting """

mmerchant_id = "ZARIN‌ PAL mmerchant ID"
zarinpal_webservice = "https://www.zarinpal.com/pg/services/WebGate/wsdl"

""" end of ZARINPAL setting """

debug_mode = getenv("DEBUG_MODE")

if debug_mode == "true":
    debug_mode = True
elif debug_mode == "false":
    debug_mode = False
