{% extends "admin_base.html" %} {% block title %} اِرج ادمین - حذف بخش های روز {% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="/"> خانه </a></li>
<li class="breadcrumb-item"><a href="/Admin/Accesses"> دسترسی ها </a></li>
<li class="breadcrumb-item active" aria-current="page"> حذف دوره ها همراه روزها </li>
{% endblock %} {% block body %}


<div class="row row-cards">
    <div class="col-lg-12 col-xl-9">
        <div class="row">
            <div class="card">
                <form id='submit_form' method="post">

                    <div class="card-header">
                        <h3 class="mb-0 card-title">حذف دوره ها همراه روزها</h3>
                    </div>
                    <div class="card-body">
                        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <h3 style="
                                                text-align: center;
                                                color: {{message.Color}} ">{{message.Result}}</h3>
                        {% endfor %} {% endif %} {% endwith %}

                        <div class="row">

                            <div class="col-md-12 ">
                                <h3 style="margin-top: 25px; text-align: center;color: #000;">نام دوره ها برای <b style="color: red;">حذف کردن</b></h3>
                            </div>

                            <div class="col-md-4" style="margin-top: 14px;padding-right: 28px;flex: 0 0 33.333333%;max-width: 33.33333%;">

                                <div class="form-label "></div>
                                <div class="custom-controls-stacked ">
                                    {% for part in Parts[0] %}
                                    <label class="custom-control custom-checkbox " style="text-align: center;">
                                                    <input type="checkbox" class="custom-control-input " name={{part.Slug}} value={{part.Slug}}>
                                                    <span class="custom-control-label ">{{part.Name}}</span>
                                                    </label> {% endfor %}


                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 14px;padding-right: 28px;flex: 0 0 33.333333%;max-width: 33.33333%;">

                                <div class="form-label "></div>
                                <div class="custom-controls-stacked ">
                                    {% for part in Parts[1] %}
                                    <label class="custom-control custom-checkbox " style="text-align: center;">
                                                <input type="checkbox" class="custom-control-input " name={{part.Slug}} value={{part.Slug}}>
                                                <span class="custom-control-label ">{{part.Name}}</span>
                                                </label> {% endfor %}

                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 14px;padding-right: 28px;flex: 0 0 33.333333%;max-width: 33.33333%;">

                                <div class="form-label "></div>
                                <div class="custom-controls-stacked ">
                                    {% for part in Parts[2] %}
                                    <label class="custom-control custom-checkbox " style="text-align: center;">
                                                <input type="checkbox" class="custom-control-input " name={{part.Slug}} value={{part.Slug}}>
                                                <span class="custom-control-label ">{{part.Name}}</span>  </label>{% endfor %}

                                </div>
                            </div>



                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary " style="width: 100%;">بزن بحذفیم!</button>
                </form>

            </div>

        </div>
    </div>
</div>{% endblock %}